body{
    margin:0;
    padding: 0;
    width: 1920px;
height: 3237px;
font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
header{
    width: 1920px;
height: 1080px;
background-blend-mode: multiply;
background-image: url("./gabriel\ ghnassia\ A9h6OsAxTyQ\ unsplash.png");
background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(20, 39, 74, 0.5);
}
.menu{
    display: flex;
    /* margin-left: 1011px; */
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;

color: #FFFFFF;
margin: 0;
}
li{
    list-style-type: none;
    margin-left: 89px;
    padding-top: 59px;
}
.icon{
    margin-left: 200px;
}
.home{
    margin-left: 500px;
}
h1{
    font-family: Adobe Garamond Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
    /* identical to box height */
    
    letter-spacing: 0.4em;
    
    color: #FFFFFF;
    margin-left: 213px;
    margin-top: 153px;
    
}
p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.1em;
    
    color: #FFFFFF;
    margin-left: 213px;
    margin-top: 0px;
}
.vector{
    width: 28px;
    height: 23px;
    margin-top: 22px;
}
.book{
    height: 78px;
    width: 268px;
    background: #E0B973;
border-radius: 1px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 30px;

color: #FFFFFF;
display: flex;
justify-content: center;
margin-left: 826px;
margin-top: 83px;
}
.p_button{
    margin-top: 22px;
    margin-left: 5px;
}
.scroll{
    margin-left: 920px;
    margin-top: 80px;
}
.scroll_img{
    margin-left: 930px;
}
.room-types{
    height: 1836px;
    background: white;
    color: #14274A;
}
.room_t{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    
    
    color: #14274A;
margin-top: 83px;    


color: #14274A;

}
.footer{
    display: flex;
    width: 1920px;
    height: 320px;
    background: url(./Union\ 3.png);
    color: white;
}
